<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
        <div>
            <div>
                <img class="james" src="/images/james2.jpg" alt="James2" />
            </div>
            <div>
                <span> <b> James Hetfield </b></span>
            </div>
            
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>About</h1>
    <article>
    <b>James Alan Hetfield </b> is an American musician who is the lead vocalist, rhythm guitarist, co-founder and main songwriter of heavy metal band Metallica. He is mainly known for his intricate rhythm playing, but occasionally performs lead guitar duties and solos, both live and in the studio. Wikipedia
    Born: August 3, 1963 (age 58 years), Downey, California, United States
    <ul>
    <li>Height: 1.85 m </li>
    <li>Spouse: Francesca Hetfield (m. 1997) </li>
    <li>Children: Castor Virgil Hetfield, Marcella Francesca Hetfield, Cali Tee Hetfield </li>
    <li>Parents: Cynthia Hetfield, Virgil Hetfield </li>
    <li>  Siblings: Deanna Hetfield, Christopher Hale, David Hale </li>
    </ul>
    </article>
  </body>
</html>