<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>James Hetfield</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
        <div>
            <div>
                <img class="james" src="/images/james1.jpg" alt="James" />
            </div>
            <div>
                <span> <b> James Hetfield </b></span>
            </div>
            
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/work">Work</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="metallica">
        <img src="/images/metallica.jpg" alt="metallica" />   
    </div>

  </body>
</html>